.skills-section{
    scroll-margin-top: 80px;
    margin: 0;
}

.skills-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #add8e6;
}

.skills-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.skill-title {
    font-size: 1.2rem;
    color: #add8e6;
    margin-bottom: 8px;
}

.skill-description {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.6;
    color: #dddddd;
}