.work-section {
    scroll-margin-top: 80px;
    margin: 0;
}

.work-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #add8e6;
}

.work-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.work-item {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

.work-title {
    font-size: 1.2rem;
    color: #add8e6;
    margin-bottom: 8px;
}

.work-description {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.6;
    color: #dddddd;
}